In [152]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [153]:
data = pd.read_csv("dataa.csv", index_col=False)

# Drop the column named "Unnamed: 0"
data = data.drop(columns=["Unnamed: 0","ID"])
data['date'] = data['date'].str.split().str[0]
data

,date,campaign_type,region,customer_age_range,gender,sales,units_sold,clients_engaged,click_rate,conversion_rate
0,2019-02-19,Online Advertising,East,56+,Male,100735.32,64.0,2364.0,0.13,0.13
1,2019-04-08,Online Advertising,North,56+,Female,15722.29,77.0,684.0,0.24,0.13
2,2018-06-28,TV,North,26-35,Male,35385.73,1.0,2299.0,0.51,0.08
3,2019-06-10,Online Advertising,West,36-45,Male,116045.50,44.0,2332.0,0.97,0.09
4,2018-07-14,Email,East,36-45,Male,65039.93,20.0,2564.0,0.36,0.26
...,...,...,...,...,...,...,...,...,...,...
19974,2019-02-05,Online Advertising,East,26-35,Female,45562.64,8.0,642.0,1.36,0.16
19975,2018-11-20,Email,East,36-45,Male,31524.54,65.0,1982.0,0.28,0.03
19976,2021-01-05,Online Advertising,West,46-55,Female,67450.37,87.0,669.0,0.29,0.19
19977,2020-09-20,Online Advertising,West,18-25,Male,103822.94,66.0,2670.0,1.22,0.19
19978,2018-12-17,Direct Advertising,North,26-35,Male,70765.63,72.0,2825.0,0.25,0.18

In [154]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le_count = 0

for col in data:
    if data[col].dtype == 'object':
        if len(list(data[col].unique())) <= 3:
            le.fit(data[col])
            data[col] = le.transform(data[col])
            le_count += 1


data['date'] = pd.to_datetime(data['date'])

data['year'] = data['date'].dt.year
data['month'] = data['date'].dt.month
data['day'] = data['date'].dt.day

data = data.drop(columns=['date'])

data = pd.get_dummies(data, columns=['campaign_type'])
data = pd.get_dummies(data, columns=['region'])
data = data.replace({True: 1, False: 0})
mapping = {'18-25': 1, '26-35': 2, '36-45': 3, '46-55': 4, '56+': 5}
data['customer_age_range'] = data['customer_age_range'].map(mapping)

In [155]:
data

,customer_age_range,gender,sales,units_sold,clients_engaged,click_rate,conversion_rate,year,month,day,campaign_type_Direct Advertising,campaign_type_Email,campaign_type_Online Advertising,campaign_type_Social Networks,campaign_type_TV,region_East,region_North,region_South,region_West
0,5,1,100735.32,64.0,2364.0,0.13,0.13,2019,2,19,0,0,1,0,0,1,0,0,0
1,5,0,15722.29,77.0,684.0,0.24,0.13,2019,4,8,0,0,1,0,0,0,1,0,0
2,2,1,35385.73,1.0,2299.0,0.51,0.08,2018,6,28,0,0,0,0,1,0,1,0,0
3,3,1,116045.50,44.0,2332.0,0.97,0.09,2019,6,10,0,0,1,0,0,0,0,0,1
4,3,1,65039.93,20.0,2564.0,0.36,0.26,2018,7,14,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19974,2,0,45562.64,8.0,642.0,1.36,0.16,2019,2,5,0,0,1,0,0,1,0,0,0
19975,3,1,31524.54,65.0,1982.0,0.28,0.03,2018,11,20,0,1,0,0,0,1,0,0,0
19976,4,0,67450.37,87.0,669.0,0.29,0.19,2021,1,5,0,0,1,0,0,0,0,0,1
19977,1,1,103822.94,66.0,2670.0,1.22,0.19,2020,9,20,0,0,1,0,0,0,0,0,1
19978,2,1,70765.63,72.0,2825.0,0.25,0.18,2018,12,17,1,0,0,0,0,0,1,0,0

In [156]:
scaler = MinMaxScaler()
data['sales'] = scaler.fit_transform(data[['sales']])

In [157]:
train_data = data.iloc[:11998,:]
train_data

,customer_age_range,gender,sales,units_sold,clients_engaged,click_rate,conversion_rate,year,month,day,campaign_type_Direct Advertising,campaign_type_Email,campaign_type_Online Advertising,campaign_type_Social Networks,campaign_type_TV,region_East,region_North,region_South,region_West
0,5,1,0.670497,64.0,2364.0,0.13,0.13,2019,2,19,0,0,1,0,0,1,0,0,0
1,5,0,0.101795,77.0,684.0,0.24,0.13,2019,4,8,0,0,1,0,0,0,1,0,0
2,2,1,0.233335,1.0,2299.0,0.51,0.08,2018,6,28,0,0,0,0,1,0,1,0,0
3,3,1,0.772916,44.0,2332.0,0.97,0.09,2019,6,10,0,0,1,0,0,0,0,0,1
4,3,1,0.431710,20.0,2564.0,0.36,0.26,2018,7,14,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11993,4,1,0.528501,80.0,2203.0,1.29,0.27,2018,7,26,0,0,0,0,1,1,0,0,0
11994,3,2,0.681005,52.0,2386.0,0.41,0.05,2021,9,27,1,0,0,0,0,1,0,0,0
11995,3,1,0.782026,65.0,2511.0,0.64,0.25,2019,6,1,1,0,0,0,0,0,0,1,0
11996,4,1,0.028247,59.0,2736.0,0.08,0.08,2020,7,21,0,0,1,0,0,1,0,0,0
11997,2,0,0.239603,76.0,1052.0,0.53,0.25,2018,8,14,0,0,1,0,0,0,0,0,1

In [158]:
Y = pd.DataFrame(pd.read_csv('train.csv'))['satisfaction_client (%)']
Y.isnull().sum()
Y

0        92.2
1        72.6
2        55.0
3        68.0
4        50.8
         ...
11993    55.4
11994    70.4
11995    70.0
11996    30.0
11997    92.4
Name: satisfaction_client (%), Length: 11998, dtype: float64

In [161]:
data_train = data.iloc[:11998,:].assign(satisfaction_client=Y) 
data_train

,customer_age_range,gender,sales,units_sold,clients_engaged,click_rate,conversion_rate,year,month,day,campaign_type_Direct Advertising,campaign_type_Email,campaign_type_Online Advertising,campaign_type_Social Networks,campaign_type_TV,region_East,region_North,region_South,region_West,satisfaction_client
0,5,1,0.670497,64.0,2364.0,0.13,0.13,2019,2,19,0,0,1,0,0,1,0,0,0,92.2
1,5,0,0.101795,77.0,684.0,0.24,0.13,2019,4,8,0,0,1,0,0,0,1,0,0,72.6
2,2,1,0.233335,1.0,2299.0,0.51,0.08,2018,6,28,0,0,0,0,1,0,1,0,0,55.0
3,3,1,0.772916,44.0,2332.0,0.97,0.09,2019,6,10,0,0,1,0,0,0,0,0,1,68.0
4,3,1,0.431710,20.0,2564.0,0.36,0.26,2018,7,14,0,1,0,0,0,1,0,0,0,50.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11993,4,1,0.528501,80.0,2203.0,1.29,0.27,2018,7,26,0,0,0,0,1,1,0,0,0,55.4
11994,3,2,0.681005,52.0,2386.0,0.41,0.05,2021,9,27,1,0,0,0,0,1,0,0,0,70.4
11995,3,1,0.782026,65.0,2511.0,0.64,0.25,2019,6,1,1,0,0,0,0,0,0,1,0,70.0
11996,4,1,0.028247,59.0,2736.0,0.08,0.08,2020,7,21,0,0,1,0,0,1,0,0,0,30.0
11997,2,0,0.239603,76.0,1052.0,0.53,0.25,2018,8,14,0,0,1,0,0,0,0,0,1,92.4